<div class="add-role-section">
  <h4 class="bg-blue text-white py-2 heading">Edit Selected Calendar Event</h4>
  <hr>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form [formGroup]="calendarForm" >


          <div class="form-group pt-3">
            <div class="input-field">
              <label for="calendarItemName">Calendar Item Name</label>
              <input type="text" id="calendarItemName" class="form-control" formControlName="calendarItemName" />
              <div
                *ngIf="calendarForm.get('calendarItemName')?.invalid && calendarForm.get('calendarItemName')?.touched"
                class="alert alert-danger"
              >
                Calendar Item Name is required.
              </div>
            </div>
          </div>




          <div class="form-group pt-3">
            <div class="input-field">
              <label for="calendarItemDescription">Calendar Item Description</label>
              <input type="text" id="calendarItemDescription" class="form-control" formControlName="calendarItemDescription"/>
              <div
                *ngIf="calendarForm.get('calendarItemDescription')?.invalid && calendarForm.get('calendarItemDescription')?.touched"
                class="alert alert-danger"
              >
                Calendar Item Description is required.
              </div>
            </div>
          </div>


          <div class="form-group pt-3">
            <div class="input-field">
              <label for="location">Location</label>
              <input type="text" id="location" class="form-control" formControlName="location" />
              <div
                *ngIf="calendarForm.get('location')?.invalid && calendarForm.get('location')?.touched"
                class="alert alert-danger"
              >
                Location is required.
              </div>
            </div>
          </div>




          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" class="form-control" formControlName="date" [min]="getCurrentDate()" />
            <div
              *ngIf="calendarForm.get('date')?.invalid && calendarForm.get('date')?.touched"
              class="alert alert-danger"
            >
              Date is required.
            </div>
          </div>


          <div class="form-group">
            <label for="startTime">Choose start time:</label>
            <timepicker id="startTime" name="startTime" formControlName="startTime" class="form-control"></timepicker>
          </div>
        
          <div class="form-group">
            <label for="endTime">Choose end time:</label>
            <timepicker id="endTime" name="endTime" formControlName="endTime" class="form-control"></timepicker>
          </div>
        
      
        <button type="button" class="btn btn-md btn-primary" (click)="calendarItem && openEditModal(calendarItem)">Edit Calendar Item</button>
        <button type="button" class="btn btn-md btn-secondary" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>


<app-edit-confirmation-modal
  [itemName]="itemToEdit"
  [displayModal]="displayModal"
  (confirmEditEvent)="editConfirmed()"
></app-edit-confirmation-modal>
