<div class="container">
    <h2>Edit Question</h2>
    <form [formGroup]="questionForm">
      <div class="form-group">
        <label for="question1">Question</label>
        <textarea id="question1" formControlName="question1" class="form-control" rows="4" required></textarea>
        <span class="error-message" *ngIf="questionForm.get('question1')?.hasError('required')" style="color: red;">
          Question is required.
        </span>
      </div>
  
  
      <div class="form-group">
        <label for="answer">Answer</label>
        <textarea id="answer" formControlName="answer" class="form-control" rows="4" required></textarea>
        <span class="error-message" *ngIf="questionForm.get('answer')?.hasError('required')" style="color: red;">
          Answer is required.
        </span>
      </div>
  
  
      <div class="form-group">
        <label for="isAnswered">Is Answered</label>
        <div>
          <input type="checkbox" id="isAnswered" formControlName="isAnswered" class="form-check-input" />
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm btn-danger" (click)="question && openEditModal(question)">Edit Question</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()"> Cancel</button>
      </div>
    </form>
  </div>
  
  
  <app-edit-confirmation-modal
    [itemName]="itemToEdit"
    [displayModal]="displayModal"
    (confirmEditEvent)="editConfirmed()"
  ></app-edit-confirmation-modal>