<div>
    <h2>Select User Role</h2>
    <select [(ngModel)]="selectedUserRole" (change)="onUserRoleChange()">
      <option *ngFor="let role of userRoles" [value]="role.userRoleId">{{ role.userRoleName }}</option>
    </select>
  </div>
  
  <div *ngIf="selectedUserRole !== 0">
    <h2>Select Permissions</h2>
    <div *ngFor="let permission of permissions">
      <label>
        <input type="checkbox" [checked]="selectedPermissions.includes(permission.permissionId)" (change)="togglePermissionSelection(permission.permissionId)" />
        {{ permission.permissionName }}
      </label>
    </div>
  
    <button (click)="updatePermissions()">Update Permissions</button>
  </div>
  