<div class="add-role-section">
  <h3 class="bg-blue text-white py-2 heading">Add User As Employee</h3>
  <h4 class="bg-blue text-white py-2 heading">Step 2 of 2</h4>
  <hr>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

        <div class="form-group pt-3">
          <div class="input-field">
            <label class="col-sm-2" for="userId">User:</label>
            <input
            type="text"
            id="userSearch"
            placeholder="Search Employee"
            (input)="filterUsers($event)"
          />
            <select class="form-control" id="userId" formControlName="userId" required>
              <option value="" disabled>Select User</option>
              <option *ngFor="let user of filteredUsers" [value]="user.userId">
                {{ user.firstName }} {{ user.lastName }}
              </option>
            </select>
        </div>
        <div *ngIf="isSubmitted && employeeForm.get('userId')?.errors?.['required']" class="text-danger">User is required.</div>
      </div>



          <div class="form-group pt-3">
            <div class="input-field">
              <label class="col-sm-2" for="resourceId">Competency:</label>
              <select class="form-control" id="resourceId" formControlName="resourceId" required>
                <option value="" disabled>Select a competency</option>
                <option *ngFor="let resource of resources" [value]="resource.resourceId">
                  {{ resource.resourceName }}
                </option>
              </select>
          </div>
            <div *ngIf="isSubmitted && employeeForm.get('resourceId')?.errors?.['required']" class="text-danger">Resource is required.</div>
          </div>

      <div class="form-group pt-3">
        <div class="input-field">
          <label class="col-sm-2" for="employeeTypeId">Employee Type:</label>
          <select class="form-control" id="employeeTypeId" formControlName="employeeTypeId" required (change)="onEmployeeTypeChange()">
            <option value="" disabled>Select employee type</option>
            <option *ngFor="let type of employeeTypes" [value]="type.employeeTypeId">
              {{ type.employeeTypeName }}
            </option>
          </select>
        </div>
        <div *ngIf="isSubmitted && employeeForm.get('employeeTypeId')?.hasError('required')" class="text-danger">Employee Type is required.</div>
      </div>

      <div class="form-group">
        <div class="input-field">
          <label class="col-sm-2" for="managerTypeId">Manager Type</label>
          <select class="form-control" formControlName="managerTypeId" id="managerTypeId" [disabled]="!employeeForm.get('employeeTypeId')?.value">
            <option value="" disabled>Select Manager Type</option>
            <option *ngFor="let managerType of managerTypes" [value]="managerType.managerTypeId">
              {{ managerType.managerTypeName }}
            </option>
          </select>
        </div>
      </div>

        <div class="form-group pt-3">
          <div class="input-field">
            <label class="col-sm-2" for="employeeStatusId">Employee Status:</label>
            <select class="form-control" id="employeeStatusId" formControlName="employeeStatusId" required>
              <option value="" disabled>Select employee status</option>
              <option *ngFor="let status of employeeStatuses" [value]="status.employeeStatusId">
                {{ status.employeeStatusName }}
              </option>
            </select>
          </div>
            <div *ngIf="isSubmitted && employeeForm.get('employeeStatusId')?.errors?.['required']" class="text-danger">Employee Status is required.</div>
          </div>


          <div class="form-group pt-3">
            <div class="input-field">
              <label class="col-sm-2" for="regionId">Region:</label>
              <select class="form-control" id="regionId"  formControlName="regionId" required>
                <option value="" disabled>Select region</option>
                <option *ngFor="let region of regions" [value]="region.regionId">
                  {{ region.regionName }}
                </option>
              </select>
            </div>
            <div *ngIf="isSubmitted && employeeForm.get('regionId')?.errors?.['required']" class="text-danger">Region is required.</div>
          </div>



          <div class="form-group pt-3">
            <div class="input-field">
              <label class="col-sm-2" for="divisionId">Division:</label>
              <select class="form-control" id="divisionId" formControlName="divisionId" required>
                <option value="" disabled>Select a division</option>
                <option *ngFor="let division of divisions" [value]="division.divisionId">
                  {{ division.divisionName }}
                </option>
              </select>
            </div>
            <div *ngIf="isSubmitted && employeeForm.get('divisionId')?.errors?.['required']" class="text-danger">Division is required.</div>
          </div>
      <button type="submit"  class="btn btn-md btn-primary" style="margin-right: 10px;">Add Employee</button>
      <button type="button" class="btn btn-md btn-secondary"  (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
