<div class="add-role-section">
  <h4 class="bg-blue text-white py-2 heading">ERdit Selected Claim Type</h4>
  <hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="claimTypeForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="form-group pt-3">
          <div class="input-field">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" formControlName="claimTypeName" required>
          </div>
        </div>

        <div class="form-group pt-3">
          <div class="input-field">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" formControlName="claimTypeDescription" rows="4"></textarea>
          </div>
        </div>

        <div class="form-group pt-3">
          <button type="submit" class="btn btn-sm btn-primary" style="margin-right: 10px;">Save</button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
