<div class="container">
    <div class="update-password-form">
      <h2 class="heading">Update Password</h2>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <form (ngSubmit)="updatePassword()">
        <div class="form-group pt-3">
        <div class="input-field">
        <label for="newPassword">New Password:</label>
        <input [type]="type" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" (input)="onPasswordChange($event)">
        <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
        </div>
        </div>
        <small *ngIf="!hasLowerCase" class="text-danger">The password must contain lowercase letters!</small><br>
        <small *ngIf="!hasUpperCase" class="text-danger">The password must contain uppercase letters!</small><br>
        <small *ngIf="!isNumeric" class="text-danger">The password must contain at least one number!</small><br>
        <small *ngIf="!hasSpecialCharacter" class="text-danger">The password must contain special characters!</small><br>
        <small *ngIf="!isGreaterThanEight" class="text-danger">The password length must at least be eight!</small>
        <button type="submit">Update Password</button>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>

  <style>
    .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f0f4f8, #dbe7f2);
}

.update-password-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.error-message,
.success-message {
  color: red; /* Error message color */
  font-size: 14px;
  margin-bottom: 10px;
}

.success-message {
  color: green; /* Success message color */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #075c86;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

.btn-secondary
{
    padding: 10px;
  background-color: #5d6062;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

  </style>