<h4 class="bg-blue text-white py-2 heading">Edit Role</h4>
<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="RoleForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="form-group pt-3">
          <div class="input-field">
          <label class="col-sm-2" for="name">Role Name:</label>
          <input type="text" class="form-control" id="name" formControlName="userRoleName" required>
        </div>
        </div>

        <div class="form-group pt-3">
          <div class="input-field">
          <label class="col-sm-2" for="description">Role Description:</label>
          <textarea class="form-control" id="description" formControlName="userRoleDescription" rows="4"></textarea>
          </div>
        </div>
          <button type="submit" class="btn btn-md btn-primary" style="margin-right: 1em;">Save</button>
          <button type="button" class="btn btn-md btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
