<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="welcome-home">Register A User</h3>
            <h4 class="welcome-home"> Step 1 of 2</h4>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="registerFormGroup">
              <div class="form-group pt-3">
                <div class="select-dropdown" [class.error]="registerFormGroup.controls['TitleId'].dirty && registerFormGroup.hasError('required', 'TitleId')" placeholder="Select a Title">
                  <span class="fa fa-user p-2"></span>
                  <select class="select-dropdown" formControlName="TitleId" placeholder="Select a Title">
                    <option value="" disabled selected>Select a Title</option>
                    <option *ngFor="let title of titles" [value]="title.titleId" placeholder="Select a Title">{{ title.titleName }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field" [class.error] = "registerFormGroup.controls['FirstName'].dirty && registerFormGroup.hasError('required', 'FirstName')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="FirstName" type="text" placeholder="First Name">
                </div>
              </div>
              <small *ngIf="registerFormGroup.controls['FirstName'].dirty && registerFormGroup.hasError('required', 'FirstName')" class="text-danger">*First Name is required</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error] = "registerFormGroup.controls['LastName'].dirty && registerFormGroup.hasError('required', 'LastName')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="LastName" type="text" placeholder="Last Name">
                </div>
              </div>
              <small *ngIf="registerFormGroup.controls['LastName'].dirty && registerFormGroup.hasError('required', 'LastName')" class="text-danger">*Last Name is required</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error] = "registerFormGroup.controls['EmailAddress'].dirty && registerFormGroup.hasError('required', 'EmailAddress')">
                  <span class="fa fa-user p-2"></span>
                  <input (ngModelChange)="checkValidEmail($event)" formControlName="EmailAddress" type="text" placeholder="Email Address">
                </div>
              </div>
              <small *ngIf="registerFormGroup.controls['EmailAddress'].dirty && registerFormGroup.hasError('required', 'EmailAddress')" class="text-danger">*Email Address is required</small>
              <small *ngIf="!isValidEmail" class="text-danger">Email is invalid!</small>
              <div class="form-group pt-3">
                <div class="select-dropdown" [class.error]="registerFormGroup.controls['UserRoleId'].dirty && registerFormGroup.hasError('required', 'UserRoleId')">
                  <span class="fa fa-user p-2"></span>
                  <select class="select-dropdown" formControlName="UserRoleId" placeholder="Select a Role">
                    <option value="" disabled selected>Select a Role</option>
                    <option *ngFor="let role of userRoles" [value]="role.userRoleId">{{ role.userRoleName }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field" [class.error] = "registerFormGroup.controls['Password'].dirty && registerFormGroup.hasError('required', 'Password')">
                  <span class="fa fa-lock p-2"></span>
                  <input formControlName="Password" [type]="type" placeholder="Password" (input)="onPasswordChange($event)">
                  <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>
              <small *ngIf="registerFormGroup.controls['Password'].dirty && registerFormGroup.hasError('required', 'Password')" class="text-danger">*Password is required</small><br>
              <small *ngIf="!hasLowerCase" class="text-danger">The password must contain lowercase letters!</small><br>
              <small *ngIf="!hasUpperCase" class="text-danger">The password must contain uppercase letters!</small><br>
              <small *ngIf="!isNumeric" class="text-danger">The password must contain at least one number!</small><br>
              <small *ngIf="!hasSpecialCharacter" class="text-danger">The password must contain special characters!</small><br>
              <small *ngIf="!isGreaterThanEight" class="text-danger">The password length must at least be eight!</small>
              <div class="form-group pt-3">
                <div class="profile-picture-input">
                  <label for="profilePicture" class="profile-picture-label">Profile Picture:</label>
                  <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/*" class="profile-picture-file-input">
                  <div class="profile-picture-preview">
                    <img [src]="selectedProfilePicture ? selectedProfilePicture.dataURL : ''" alt="Selected Profile Picture" *ngIf="selectedProfilePicture">
                    <div class="profile-picture-placeholder" *ngIf="!selectedProfilePicture">
                      <span class="placeholder-text">Upload<br>Image</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <label for="isActive" class="checkbox-label">Is Active</label>
                <div class="checkbox-input">
                  <input type="checkbox" id="isActive" formControlName="IsActive" class="checkbox">
                  <div class="checkbox-custom"></div>
                </div>
              </div>
              <button (click)="onSubmit()" type="submit" class="btn btn-custom btn-block mt-4 w-50 mr-2">Proceed</button>

              <button (click)="cancel()" type="submit" class="btn btn-cancel btn-block mt-4 w-50 ml-2">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
