<header class="navbar navbar-dark sticky-top primary">
  <div class="container-fluid">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" (click)="goToProfile()">
      <div class="profile-picture d-inline-block">
        <img [src]="profilePictureUrl" alt="Profile Picture" class="img-fluid rounded-circle">
      </div>
      <div class="d-inline-block align-top ml-2">
        <h3><b>{{fullName}}</b></h3>
        <h3><b>{{role}}</b></h3>
      </div>
    </a>
   <h2>Welcome to MoTime! Enjoy time capturing!</h2>
    <div class="navbar-nav flex-row">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3 cursor-pointer" (click)="logOut()">Sign out</a>
      </div>
    </div>
  </div>
</header>
  
  <div class="container-fluid">
    <div class="row">
        <main>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
              This week
            </button>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="task-list-box">
                  <h2 class="heading">Task List</h2>
                  <div class="task-search">
                    <input type="text" [(ngModel)]="searchQuery" placeholder="Search tasks" />
                    <button (click)="searchTasks()">Search</button>
                  </div>
                  <ul class="task-list">
                    <li *ngFor="let task of tasks" (click)="showTaskDetails(task)">
                      <div class="task-item" [ngClass]="{'high-priority': task.priorityId === 1, 'medium-priority': task.priorityId === 2, 'low-priority': task.priorityId === 3}">
                        <h3 class="task-name">{{ task.taskName }}</h3>
                        <p class="task-description">{{ task.taskDescription | slice:0:100 }}{{ task.taskDescription.length > 100 ? '...' : '' }}</p>
                        <p>Project Name: {{ getProjectName(task.projectId) }}</p>
                        <p>Priority: {{ getTaskPriorityName(task.priorityId) }}</p>
                        <p>Status: {{ getTaskStatusName(task.taskStatusId) }}</p>
                        <p>Task Type: {{ getTaskTypeName(task.taskTypeId) }}</p>
                        <p>Due Date: {{ task.dueDate | date:'medium' }}</p>
                        <button (click)="editTask(task)">Edit</button>
                        <button (click)="deleteTask(task.taskId)">Delete</button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="task-details" *ngIf="selectedTask">
                  <div class="task-details-box">
                    <h2>{{ selectedTask.taskName }}</h2>
                    <p>{{ selectedTask.taskDescription }}</p>
                    <p>Project Name: {{ getProjectName(selectedTask.projectId) }}</p>
                    <p>Priority: {{ getTaskPriorityName(selectedTask.priorityId) }}</p>
                    <p>Status: {{ getTaskStatusName(selectedTask.taskStatusId) }}</p>
                    <p>Task Type: {{ getTaskTypeName(selectedTask.taskTypeId) }}</p>
                    <p>Due Date: {{ selectedTask.dueDate | date:'medium' }}</p>
                    <button (click)="editTask(selectedTask)">Edit</button>
                    <button (click)="deleteTask(selectedTask.taskId)">Delete</button>
                    <button (click)="closeTaskDetails()">Close</button>
                  </div>
                </div>
                  
                  <div class="add-task-box">
                    <h2>Add Task</h2>
                    <button class="add-button" (click)="showAddForm = !showAddForm">+</button>
                    <div *ngIf="showAddForm" class="task-form">
                      <select [(ngModel)]="newTask.priorityId">
                        <option *ngFor="let priority of taskPriorities" [value]="priority.priorityId">{{ priority.priorityName }}</option>
                      </select>
                      <select [(ngModel)]="newTask.taskTypeId">
                        <option *ngFor="let type of taskTypes" [value]="type.taskTypeId">{{ type.taskTypeName }}</option>
                      </select>
                      <select [(ngModel)]="newTask.taskStatusId">
                        <option *ngFor="let status of taskStatuses" [value]="status.taskStatusId">{{ status.statusName }}</option>
                      </select>
                      <select [(ngModel)]="newTask.projectId">
                        <option *ngFor="let project of projects" [value]="project.projectId">{{ project.projectName }}</option>
                      </select>
                      <input type="text" [(ngModel)]="newTask.taskName" placeholder="Task Name" />
                      <textarea [(ngModel)]="newTask.taskDescription" placeholder="Task Description"></textarea>
                      <input required [min]="getCurrentDate()" type="date" [(ngModel)]="newTask.dueDate" [placeholder]="getCurrentDate()" />
                      <label>
                        <input type="checkbox" [(ngModel)]="newTask.isComplete" /> Is Complete
                      </label>
                      <button (click)="addTask(newTask)">Add Task</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
              
                <h2>{{ monthNames[currentMonth] }} {{ currentYear }}</h2>


                <button (click)="goToPreviousMonth()">Previous Month</button>
                <button (click)="goToNextMonth()">Next Month</button>


                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="day-header">Monday</th>
                        <th class="day-header">Tuesday</th>
                        <th class="day-header">Wednesday</th>
                        <th class="day-header">Thursday</th>
                        <th class="day-header">Friday</th>
                        <th class="day-header">Saturday</th>
                        <th class="day-header">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let calendarDay of calendar | chunk: 7; let i = index">
                        <td *ngFor="let day of calendarDay" class="calendar-day" [ngClass]="{'past-date': day.isPastDate, 'today': day.isToday, 'event-date': hasEvent(day.date)}" (click)="showItemsForDate(day.date)">
                          <div class="day-content">
                            <div class="calendar-day-header" [ngClass]="{'blue-date': day.isToday}">
                              <strong>{{ day.date.getDate() }}</strong>
                            </div>
                            <div *ngIf="hasEvent(day.date)" class="event-container">
                              <div *ngFor="let event of day.events" class="event" [style.border-top-color]="event.color" [attr.data-event-name]="event.name"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>


                                      
              </main>
          </div>
                </div>

  <style>
    .profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-right: 10px;
}
  </style>