<div class="modal" id="editConfirmationModal" [style.display]="displayModal ? 'block' : 'none'" tabindex="-1" role="dialog" aria-labelledby="editConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editConfirmationModalLabel">Confirm Edit</h5>
        </div>
        <div class="modal-body">
          {{ confirmationMessage }}
        </div>
        <div class="modal-footer">
          <button type="button" style="margin-right: 1em;" class="btn btn-sm btn-secondary" (click)="closeModal()">No</button>
          <button type="button" class="btn btn-sm btn-primary" (click)="confirmEdit()">Yes</button>
        </div>
      </div>
    </div>
  </div>
